    /* BASE STYLES */
.root {
       -fx-background-color: black;
     -fx-background-image: url("https://images4.alphacoders.com/594/thumb-1920-594600.jpg");
     -fx-background-repeat: stretch;
     -fx-font-size: 12px;
}

    /* TEXT STYLES */
#title {
    -fx-font-size: 2em;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-margin-top: 0.67em;
    -fx-margin-bottom: 0.67em;
    -fx-margin-left: 0em;
    -fx-margin-right: 0em;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , -0.1,-0.1,-0.1,-0.1 );
}
.label {
    -fx-font-size: 1.25em;
    -fx-font-weight: bold;
    -fx-text-fill: black;
    -fx-margin-top: 0.25em;
    -fx-margin-bottom: 0.25em;
    -fx-margin-left: 0.25em;
    -fx-margin-right: 0.25em;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.75) , -0.1,-0.1,-0.1,-0.1 );

}
.text {
    -fx-font-size: 1.1em;
    -fx-margin-top: 0.1em;
    -fx-margin-bottom: 0.1em;
    -fx-margin-left: 0.1em;
    -fx-margin-right: 0.1em;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.75) ,0,0,0.5,0 );
    }

    /* BUTTON STYLES */
.button {
    -fx-text-fill: black;
    -fx-font-family: "Arial";
    -fx-background-color: #808080;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.button:hover {
    -fx-background-color: #A9A9A9;
}

    /* COMBOBOX STYLES */
.combo-box .list-cell
{
    -fx-background: #C0C0C0;
    -fx-background-color: transparent;
    -fx-cell-size: 2em;
}

.combo-box-popup .list-view
{
    -fx-background-color: #C0C0C0;
}

.combo-box-popup .list-view .list-cell:filled:selected, .combo-box-popup .list-view .list-cell:filled:selected:hover
{
    -fx-background-color: #D0D0D0;
}

.combo-box-base
{
    -fx-background-color: #D0D0D0;
}

.combo-box-base:hover
{
    -fx-background-color: #C0C0C0;
}

.combo-box-base:disabled {
    -fx-opacity: .4;
}

    /* TABLEVIEW STYLES */
.table-view .column-header-background{
    -fx-background-color: linear-gradient(#131313 0%, #424141 100%);
}

.table-view .column-header-background .label{
    -fx-background-color: transparent;
    -fx-text-fill: white;
}

.table-view .column-header {
    -fx-background-color: transparent;
}

.table-view .table-cell{
    -fx-alignment: CENTER;
    -fx-text-fill: white;
}

.table-row-cell{
    -fx-background-color: -fx-table-cell-border-color, #616161;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:odd{
    -fx-background-color: -fx-table-cell-border-color, #424242;
    -fx-background-insets: 0, 0 0 1 0;
    -fx-padding: 0.0em; /* 0 */
}

.table-row-cell:selected {
    -fx-background-color: #005797;
    -fx-background-insets: 0;
    -fx-background-radius: 1;
}
    /* CHART STYLES */
/* FOR LINECHARTS */

.chart-title {
    -fx-stroke: white;
    -fx-text-fill: white;
}
.chart-vertical-zero-line {
    -fx-stroke: white;
}
.chart-horizontal-zero-line {
    -fx-stroke: white;
}
.chart-plot-background {
    -fx-background-color: #575758;
    -fx-foreground-color: white;
    -fx-stroke: white;
}
.chart-vertical-grid-lines {
    -fx-stroke: #898887;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #898887;
}
.chart-alternative-row-fill {
    -fx-fill: transparent;
    -fx-stroke: transparent;
    -fx-stroke-width: 0;
}
.axis {
-fx-stroke: white;
-fx-fill: white;
    -fx-font-size: 1.4em;
    -fx-tick-label-fill: white;
    -fx-tick-length: 0;
    -fx-minor-tick-length: 0;
}
.axis-label {
  -fx-text-fill: white;
}

/* FOR PIECHART */
.chart-pie-label {
    -fx-fill: white;
    -fx-font-size: 1em;
}
