.default-color0.chart-pie { -fx-pie-color: #e6194B; }
.default-color1.chart-pie { -fx-pie-color: #3cb44b; }
.default-color2.chart-pie { -fx-pie-color: #4363d8; }
.default-color3.chart-pie { -fx-pie-color: #911eb4; }
.default-color4.chart-pie { -fx-pie-color: #f58231; }
.default-color5.chart-pie { -fx-pie-color: #bfef45; }
.default-color6.chart-pie { -fx-pie-color: #42d4f4; }
.default-color7.chart-pie { -fx-pie-color: #ffe119; }
.default-color8.chart-pie { -fx-pie-color: #f032e6; }
.default-color9.chart-pie { -fx-pie-color: #aaffc3; }
.default-color10.chart-pie { -fx-pie-color: #9A6324; }
.default-color11.chart-pie { -fx-pie-color: #800000; }
.default-color12.chart-pie { -fx-pie-color: #ffd8b1; }
.default-color13.chart-pie { -fx-pie-color: #e6beff; }
.default-color14.chart-pie { -fx-pie-color: #469990; }

.default-color0.chart-legend-item-symbol { -fx-background-color: #e6194B; }
.default-color1.chart-legend-item-symbol { -fx-background-color: #3cb44b; }
.default-color2.chart-legend-item-symbol { -fx-background-color: #4363d8; }
.default-color3.chart-legend-item-symbol { -fx-background-color: #911eb4; }
.default-color4.chart-legend-item-symbol { -fx-background-color: #f58231; }
.default-color5.chart-legend-item-symbol { -fx-background-color: #bfef45; }
.default-color6.chart-legend-item-symbol { -fx-background-color: #42d4f4; }
.default-color7.chart-legend-item-symbol { -fx-background-color: #ffe119; }
.default-color8.chart-legend-item-symbol { -fx-background-color: #f032e6; }
.default-color9.chart-legend-item-symbol { -fx-background-color: #aaffc3; }
.default-color10.chart-legend-item-symbol { -fx-background-color: #9A6324; }
.default-color11.chart-legend-item-symbol { -fx-background-color: #800000; }
.default-color12.chart-legend-item-symbol { -fx-background-color: #ffd8b1; }
.default-color13.chart-legend-item-symbol { -fx-background-color: #e6beff; }
.default-color14.chart-legend-item-symbol { -fx-background-color: #469990; }

.default-color0.chart-line-symbol { -fx-background-color: #e6194B; }
.default-color1.chart-line-symbol { -fx-background-color: #3cb44b; }
.default-color2.chart-line-symbol { -fx-background-color: #4363d8; }
.default-color3.chart-line-symbol { -fx-background-color: #911eb4; }
.default-color4.chart-line-symbol { -fx-background-color: #f58231; }
.default-color5.chart-line-symbol { -fx-background-color: #bfef45; }
.default-color6.chart-line-symbol { -fx-background-color: #42d4f4; }
.default-color7.chart-line-symbol { -fx-background-color: #ffe119; }
.default-color8.chart-line-symbol { -fx-background-color: #f032e6; }
.default-color9.chart-line-symbol { -fx-background-color: #aaffc3; }
.default-color10.chart-line-symbol { -fx-background-color: #9A6324; }
.default-color11.chart-line-symbol { -fx-background-color: #800000; }
.default-color12.chart-line-symbol { -fx-background-color: #ffd8b1; }
.default-color13.chart-line-symbol { -fx-background-color: #e6beff; }
.default-color14.chart-line-symbol { -fx-background-color: #469990; }

.default-color0.chart-series-line { -fx-stroke: #e6194B; }
.default-color1.chart-series-line { -fx-stroke: #3cb44b; }
.default-color2.chart-series-line { -fx-stroke: #4363d8; }
.default-color3.chart-series-line { -fx-stroke: #911eb4; }
.default-color4.chart-series-line { -fx-stroke: #f58231; }
.default-color5.chart-series-line { -fx-stroke: #bfef45; }
.default-color6.chart-series-line { -fx-stroke: #42d4f4; }
.default-color7.chart-series-line { -fx-stroke: #ffe119; }
.default-color8.chart-series-line { -fx-stroke: #f032e6; }
.default-color9.chart-series-line { -fx-stroke: #aaffc3; }
.default-color10.chart-series-line { -fx-stroke: #9A6324; }
.default-color11.chart-series-line { -fx-stroke: #800000; }
.default-color12.chart-series-line { -fx-stroke: #ffd8b1; }
.default-color13.chart-series-line { -fx-stroke: #e6beff; }
.default-color14.chart-series-line { -fx-stroke: #469990; }